<table class="mx-auto mt-4 w-66 table">
  <thead>
    <tr>
      <ul class="ember-tabler-pagination" colspan="4">
        <li><a href="#" {{action "goToPage" 1 }}>1</a></li>
        <li><a href="#" {{action "goToPage" 2 }}>2</a></li>
        <li><a href="#" {{action "goToPage" 3 }}>3</a></li>
        <li><a href="#" {{action "goToPage" 4 }}>4</a></li>
      </ul>
    </tr>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Nickname</th>
      <th>Evil</th>
    </tr>

  </thead>

  <tbody>

    {{#each characters as |character|}}
      <tr>
        <td>{{character.name}}</td>
        <td>{{character.age}}</td>
        <td>{{character.nickname}}</td>
        <td>{{character.evil}}</td>
      </tr>
    {{/each}}

  </tbody>

</table>
